
.download-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .download-button{
        width: 152px;

        button{
            padding: 0 10px;
        }
    }
}
