.maintenance {
  &-list_item {
    display: flex;
  }
}

.antd_collapse {
  &-expand {
    margin-bottom: 10px;

    &-icon {
      transition: .5s;
      transform-origin: center;

      &[data-is-active="true"] {
        transform: rotate(0deg);
      }

      &[data-is-active="false"] {
        transform: rotate(-90deg);
      }
    }
  }
}
