$padding-vertical: 16px;
$padding-horizontal: 16px;

$border-width: 1px;
$border-style: solid;
$border-color: transparent;

$button-margin-left: 8px;

.modal-footer {
  flex-shrink: 0;
  padding: $padding-vertical $padding-horizontal;
  border-top: $border-width $border-style $border-color;

  > [role="button"] + [role="button"] {
    margin-left: $button-margin-left;
  }
}
