.activity{
    &-panel{
        padding: 16px;
        height: 100%;
        margin: 24px;
    }

    &-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}