.media-thumbnail {
  &-control {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;

    &[data-is-hidden="true"] {
      visibility: hidden;
      opacity: 0;
      transition: opacity .3s, visibility .3s .3s;
    }

    &__button {
      display: block;
      width: 32px;
      height: 32px;
      background: rgba($color-primary-darkest, 0.7);
      border-radius: 2.4px;

      &:first-child {
        margin-bottom: 5px;
      }
    }

    &__icon {
      fill: #fff;
    }
  }

  &__status {
    z-index: 2;
    position: absolute;
    left: 8px;
    bottom: 8px;
  }
}