.premission-creator-header{
  width: 100%;
  display: grid;
  grid-template-columns: 199px 316px;
  justify-content: space-between;
}

.premission-creator-select {
  height: 40px;
}

.premission-creator-range-picker {
  width: 100%;
  height: 40px;
}

.premission-creator-help {
  color: $color-warn;
  font-size: $font-size-xs;
}
